<body>
    <section class="about-us">
      <div class="about">
        <img src="../../assets/baymax.jpg" class="pic">
        <div class="text">
          <h2 class="AboutUS">About Us</h2>
          <h5 class="aa"> Hi I Am BayMax </h5>
            <p class="aa">Baymax is wearable heart rate sensor has a number of potential applications in healthcare, particularly in the area of remote patient monitoring. By tracking a person's heart rate over time, doctors and other healthcare providers can identify patterns and trends that may indicate potential health problems, allowing for early intervention and treatment. in a potential health issue Baymax sends the location of the patient to the nearest hospital so as fast as possible the hospital sends an ambulance to the patient location and make the hospital provides a Reserved bed for that patient
              </p>
        </div>
        
      </div>
      <p class="slog"> "Keep your heart in good hands with Baymax - the heart rate sensor that cares for you!"</p>
    </section>
  </body>

<div class="responsive-container-block outer-container">
    <div class="responsive-container-block inner-container">
      <p class="text-blk section-head-text">
        The Big Hero 6
      </p>
      <p class="text-blk section-subhead-text">
        Meet Our Talented Team
      </p>
      
      <div class="responsive-container-block">

        

        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src="../../assets/yara1.jpg">
            </div>
            <p class="text-blk name">
              Yara Alstouhy
            </p>
            <p class="text-blk position">
              Big Hero 1
            </p>
          </div>
        </div>
        
                
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
          <div class="team-card">
            <div class="img-wrapper">
              <img class="team-img" src="../../assets/toaa1.jpg">
            </div>
            <p class="text-blk name">
              Toka Mohamed
            </p>
            <p class="text-blk position">
              Big Hero 2
          </p>
          </div>
        </div>
        
        <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
            <div class="team-card">
              <div class="img-wrapper">
                <img class="team-img" src="../../assets/osamapng.png">
              </div>
              <p class="text-blk name">
                Osama Ashraf
              </p>
              <p class="text-blk position">
                Big Hero 3
            </p>
            </div>
          </div>


        
          <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
            <div class="team-card">
              <div class="img-wrapper">
                <img class="team-img" src="../../assets/noor1.jpg">
              </div>
              <p class="text-blk name">
                Nourhan Salama
              </p>
              <p class="text-blk position">
                Big Hero 4

              </p>
            </div>
          </div>

        
          <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
            <div class="team-card">
              <div class="img-wrapper">
                <img class="team-img" src="../../assets/bassant.jpg">
              </div>
              <p class="text-blk name">
                Basant Mohamed
              </p>
              <p class="text-blk position">
                Big Hero 5

              </p>
            </div>
          </div>

        
          <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
            <div class="team-card">
              <div class="img-wrapper">
                <img class="team-img" src="../../assets/Khaled.png">
              </div>
              <p class="text-blk name">
                Khaled Mahrous
              </p>
              <p class="text-blk position">
                Big Hero 6

              </p>
              
            </div>
          </div>



  </div>