
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Bruno Ace';
    color: #fff;
 }
    
  
  body {
 
    font-size: 13px;
    margin: 0;
    width: 950px;
    margin-left: 30px;

 }
  
  input, textarea, select, button {
    font-size: 13px; }
  
  p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0; }
  
  img {
    max-width: 100%; }
  
  ul {
    padding-left: 0;
    margin-bottom: 0; }
  
  a:hover {
    text-decoration: none; }
  
  :focus {
    outline: none; }
  
  .wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center; 
    border: 0 solid;
    border-radius: 2%;
}
  
  .inner {
    height: 600px;
    width: 98%;
    margin: 0;
    padding-top: 90px;
    background-color: #fff;
    /* padding-bottom: 48px; */
    background-repeat: no-repeat;
    background-size: cover;
    border: 0 solid;
    border-radius: 15px;
    box-shadow: 30px 50px 60px 1px gray;
    transition-timing-function:ease-in;
    transition-duration: 1s;
    transition-property: 'background';
 }
 .normal{
  background: url("../pics/output1.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition-timing-function:ease-in;
 }
 .err{
  background: url("../pics/output2.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition-timing-function:none;
  transition: none;
  animation: shake 0.2s ease-in-out 0.1s 4;
  /* box-shadow: 0 0 1em red; */
 }

 .complete{
  background: url("../pics/output.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition-timing-function:ease-in;
  animation: shake 0.5s ease-in-out 1s 5;
 }

   .inner h3 {
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 700;
      /* font-family: "Muli-Bold"; */
      text-align: center;
      margin-bottom: 32px;
      letter-spacing: 2px; }
  
  form {
    width: 40%;
    padding-left: 40px; }
  
  .form-group {
    display: flex; }
    .form-group .form-wrapper {
      width: 50%; }
      .form-group .form-wrapper:first-child {
        margin-right: 20px; }
  
  .form-wrapper {
    margin-bottom: 17px; }
    .form-wrapper label {
      margin-bottom: 9px;
      padding-left: 20px;
      display: block;
      font-weight: 600; 
    }
  
  .form-control {
    border: 0 solid #ccc;
    display: block;
    width: 100%;
    height: 40px;
    color:#CB1A37;
    padding: 0 20px;
    border-radius: 20px;
    background-color: white;
    backdrop-filter: blur(100%);
    -webkit-backdrop-filter:blur(100%);
    /* filter: blur(80%); */
    /* font-family: "Muli-Bold"; */
     }
    .form-control:focus {
      border: 1px solid #CB1A37;
      background-color: #fff;
      /* box-shadow: ; */
     }
     .error{
      animation: shake 0.2s ease-in-out 0.1s 4;
      box-shadow: 0 0 1em red;
     }
     @keyframes shake {
      0% { margin-left: 0rem; }
      25% { margin-left: 0.5rem; }
      75% { margin-left: -0.5rem; }
      100% { margin-left: 0rem; }
    }
     .form-control:focus {
        box-shadow: 0px 0px 40px 1px #4C7FB6;
        background-color: #fff;
        /* box-shadow: ; */
       }
    .form-control:hover{
      box-shadow: 0px 0px 40px 1px #4C7FB6;
    }
  
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    padding-left: 20px; }
    select option[value=""][disabled] {
      display: none; }
  
  button {
    border: none;
    width: 152px;
    height: 40px;
    margin: auto;
    margin-top: 29px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: #CB1A37;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    /* font-family: "Muli-SemiBold"; */
    border-radius: 20px;
    overflow: hidden;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s; }
    button:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #3BAC65;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transform-origin: 0 50%;
      transform-origin: 0 50%;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
    button:hover:before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
      transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }
  
  
  @media (max-width: 991px) {
    .inner {
      min-width: 768px; } }
  @media (max-width: 767px) {
    .inner {
      min-width: auto;
      background: none;
      padding-top: 0;
      padding-bottom: 0; }
  
    form {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px; } }
  
  /*# sourceMappingURL=style.css.map */
  